# Mailmap is used by git to map author/committer names and/or E-Mail addresses
# See https://git-scm.com/docs/gitmailmap for details
Ben Dichter <ben.dichter@gmail.com>
Cody Baker <cody.c.baker.phd@gmail.com> <51133164+CodyCBakerPhD@users.noreply.github.com>
