# pinned dependencies that are optional. used to reproduce an entire development environment to use HDMF
tqdm==4.66.4
zarr==2.18.2
linkml-runtime==1.7.7; python_version >= "3.9"
schemasheets==0.2.1; python_version >= "3.9"
oaklib==0.6.10; python_version >= "3.9"
