# pinned dependencies that are optional. used to reproduce an entire development environment to use HDMF
tqdm==4.66.3
zarr==2.17.1
linkml-runtime==1.7.4; python_version >= "3.9"
schemasheets==0.2.1; python_version >= "3.9"
oaklib==0.5.32; python_version >= "3.9"
