# pinned dependencies to reproduce an entire development environment to use HDMF, run HDMF tests, check code style,
# compute coverage, and create test environments. note that depending on the version of python installed, different
# versions of requirements may be installed due to package incompatibilities.
#
black==23.3.0
codespell==2.2.4
coverage==7.2.5
pre-commit==3.3.1
pytest==7.3.1
pytest-cov==4.0.0
python-dateutil==2.8.2
ruff==0.0.265
tox==4.5.1
