# pinned dependencies to reproduce an entire development environment to use HDMF, run HDMF tests, check code style,
# compute coverage, and create test environments
codecov==2.1.10
coverage==5.3
flake8==3.8.4
flake8-debugger==4.0.0
flake8-print==4.0.0
importlib-metadata<2
python-dateutil==2.8.1
tox==3.20.1
