# minimum versions of package dependencies for installing HDMF
h5py==2.10  # support for selection of datasets with list of indices added in 2.10
jsonschema==3.2.0
numpy==1.22.4
pandas==2.1.0
ruamel.yaml==0.16
scipy==1.4
tqdm==4.41.0
zarr==2.12.0
