# pinned dependencies that are optional. used to reproduce an entire development environment to use HDMF
tqdm==4.66.2
zarr==2.17.1
linkml-runtime==1.7.3; python_version >= "3.9"
schemasheets==0.2.1; python_version >= "3.9"
oaklib==0.5.31; python_version >= "3.9"
pydantic==2.6.4  # linkml-runtime 1.6.0 and related packages require pydantic<2
pyyaml==6.0.1; python_version >= "3.9"
