# pinned dependencies to reproduce an entire development environment to use HDMF, run HDMF tests, check code style,
# compute coverage, and create test environments
codecov==2.1.12
coverage==6.4.2
flake8==5.0.4
flake8-debugger==4.1.2
flake8-print==5.0.0
importlib-metadata==4.2.0  # there may be compatibility issues with newer versions
pytest==7.1.2
pytest-cov==3.0.0
python-dateutil==2.8.2
tox==3.25.1
